*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #160b68;
}
.shape-form {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.shape-form .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1abbe4, #320352);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #1d010f, #b3dbe7);
  right: -30px;
  bottom: -80px;
}
form {
  height: 600px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.11);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.089);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgb(4, 16, 128);
  color: rgb(11, 135, 177);
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
li a:hover {
  background: lightseagreen;
  color: #320352;
}

.active a {
  background: lightblue;
  color: #fff;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #8f2d8f59;
}
h4 {
  padding: 10px;
}

button {
  margin-top: 30px;
  width: 100%;
  background-color: #f3eff2;
  color: #080710;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
button :hover {
  background-color: lightseagreen;
  color: lightcyan;
}
.alternate {
  margin-top: 30px;
  display: flex;
}
.alternate {
  padding: 5px 10px 10px 5px;
  color: #eaf0fb;
  text-align: center;
}
span {
  color: #dde1e6;
}
